<!DOCTYPE html>
<html>
<head>
	<title>Editar Maestro</title>
</head>
<body>
	<h1>Editar Maestro</h1>
	<form action="/maestros2/{{ maestro[0] }}/edit" method="POST">
		<label for="dpi">DPI:</label>
		<input type="text" id="dpi" name="dpi" value="{{ maestro[0] }}" readonly>
		<br>
		<label for="nombres">Nombres:</label>
		<input type="text" id="nombres" name="nombres" value="{{ maestro[1] }}">
		<br>
		<label for="apellidos">Apellidos:</label>
		<input type="text" id="apellidos" name="apellidos" value="{{ maestro[2] }}">
		<br>
		<label for="curso_1">Curso 1:</label>
		<input type="text" id="curso_1" name="curso_1" value="{{ maestro[3] }}">
		<br>
		<label for="curso_2">Curso 2:</label>
		<input type="text" id="curso_2" name="curso_2" value="{{ maestro[4] }}">
		<br>
		<label for="salario">Salario:</label>
		<input type="number" id="salario" name="salario" value="{{ maestro[5] }}">
		<br>
		<label for="fecha_contratacion">Fecha de Contratacion:</label>
		<input type="date" id="fecha_contratacion" name="fecha_contratacion" value="{{ maestro[6] }}" readonly>
		<br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Guardar</button>
	</form>
</body>
</html>