<!DOCTYPE html>
<html>
<head>
	<title>Editar Maestro</title>
</head>
<body>
	<h1>Editar Maestro</h1>
	<form action="/maestros2/{{ worker[0] }}/edit" method="POST">
		<label for="id_maestro">ID Maestro:</label>
		<input type="text" id="id_maestro" name="id_maestro" value="{{ worker[0] }}" readonly>
		<br>
		<label for="nombres">Nombres:</label>
		<input type="text" id="nombres" name="nombres" value="{{ worker[1] }}">
		<br>
		<label for="apellidos">Apellidos:</label>
		<input type="text" id="apellidos" name="apellidos" value="{{ worker[2] }}">
		<br>
		<label for="curso">Curso:</label>
		<input type="text" id="curso" name="curso" value="{{ worker[3] }}">
		<br>
		<label for="salario">Salario:</label>
		<input type="text" id="salario" name="salario" value="{{ worker[4] }}">
		<br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Guardar</button>
	</form>
</body>
</html>