<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .login-form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        padding: 20px;
        max-width: 400px;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }

      .login-form h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      .login-form input[type=text], .login-form input[type=password], .login-form input[type=date],  .login-form input[type=time], .login-form input[type=number]{
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      }

      .login-form button[type=submit] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
      {% extends './base.html' %}

      {% block title %}Añadir Estudiantes{% endblock %}
      {% block body %}
      <form class="login-form" action="/estudiantes2" method="POST">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <h1>Añadir Estudiantes</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="id_estudiante" name="id_estudiante" placeholder="ID Estudiante" required>
          <label for="id_estudiante">ID Estudiante</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" required>
          <label for="nombres">Nombres</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" required>
          <label for="apellidos">Apellidos</label>
        </div>
        <div class="form-floating">
          <input type="date" class="form-control" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" required>
          <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" name="edad" placeholder="Edad">
          <label for="edad">Edad</label>
        </div>
        <div class="form-floating">
          <input type="number" class="form-control" name="grado" placeholder="Grado" required>
          <label for="Grado">Grado</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="seccion" name="seccion" placeholder="Seccion" required>
          <label for="seccion">Seccion</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="curso1" name="curso1" placeholder="Curso1" required>
          <label for="curso1">Curso 1</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso2" name="curso2" placeholder="Curso2" required>
          <label for="curso2">Curso 2</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso3" name="curso3" placeholder="Curso3" required>
          <label for="curso3">Curso 3</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso4" name="curso4" placeholder="Curso4" required>
          <label for="curso4">Curso 4</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso5" name="curso5" placeholder="Curso5">
          <label for="curso5">Curso 5</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso6" name="curso6" placeholder="Curso6">
          <label for="curso6">Curso 6</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso7" name="curso7" placeholder="Curso7">
          <label for="curso7">Curso 7</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso8" name="curso8" placeholder="Curso8">
          <label for="curso8">Curso 8</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso9" name="curso9" placeholder="Curso9">
          <label for="curso9">Curso 9</label>
        </div>
        
        <div class="form-floating">
          <input type="text" class="form-control" id="curso10" name="curso10" placeholder="Curso10">
          <label for="curso10">Curso 10</label>
        </div>
        
        
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Añadir Estudiante</button>
        <button class="w-100 btn btn-lg btn-primary mt-3" onclick="window.location.href='/estudiantes3'">Ver Estudiantes</button>

      </form>
      {% endblock %}
            <label for="id_estudiante">ID Estudiantes:</label>
            <input type="text" id="id_estudiante" name="id_estudiante" required>
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" required>
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad">
            <label for="grado">Grado:</label>
            <input type="number" id="grado" name="grado" required>
            <label for="seccion">Seccion:</label>
            <input type="text" id="seccion" name="seccion" required>
            <label for="curso1">Curso 1:</label>
            <input type="text" id="curso1" name="curso1" required>
            <label for="curso2">Curso 2:</label>
            <input type="text" id="curso2" name="curso2" required>
            <label for="curso3">Curso 3:</label>
            <input type="text" id="curso3" name="curso3" required>
            <label for="curso4">Curso 4:</label>
            <input type="text" id="curso4" name="curso4" required>
            <label for="curso5">Curso 5:</label>
            <input type="text" id="curso5" name="curso5">
            <label for="curso6">Curso 6:</label>
            <input type="text" id="curso6" name="curso6">
            <label for="curso7">Curso 7:</label>
            <input type="text" id="curso7" name="curso7">
            <label for="curso8">Curso 8:</label>
            <input type="text" id="curso8" name="curso8">
            <label for="curso9">Curso 9:</label>
            <input type="text" id="curso9" name="curso9">
            <label for="curso10">Curso 10:</label>
            <input type="text" id="curso10" name="curso10">
            <button type="submit">Añadir Estudiante</button>
      </form>
    </body>
  </html>