{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <h2>Portal de Servicios Electrónicos</h2>
  <h2>Bienvenido, {{ current_user.username }}</h2>
  <form action="/iniciomaestro" method="GET">
    <div class="sidebar">
      <ul>
        <li><h1>Menu</h1></li>
        <li><a href="/circulares">Circulares</a></li>
        <li><a href="/pagoS">Pago de Salario</a></li>
        <li><a href="/horario">Horario</a></li>
        <li><a href="/cursosI">Cursos a Impartir</a></li>
        <li><a class="btn btn-secondary" style="background-color: black;" href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>
  </form>
</div>

<style>

    .sidebar {
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    }

    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    li {
    padding: 10px;
    }

    a {
    color: #000;
    text-decoration: none;
    display: block;
    }

    a:hover {
    color: #fff;
    background-color: #73AD21;
    }


    h2 {
    font-size: 3em;
    margin: 0;
    text-align: left;
    margin-top: 30px;
    }

    h3 {
    font-size: 1.5em;
    margin: 0;
    text-align: left;
    margin-top: 35px;
    }

    h1 {
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
    }

    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  </style>
  {% endblock %}
  