<!DOCTYPE html>
<html>
<head>
	<title>Editar Calificacion</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/director/editar_calificaciones.css') }}">
</head>
<body>
	<h1>Editar Calificacion</h1>
	<form action="/calificaciones2/{{ calificacion[0] }}/edit" method="POST">
		<label for="id_estudiante">ID Estudiante: </label>
		<input type="text" id="id_estudiante" name="id_estudiante" value="{{ calificacion[0] }}" readonly>
		<br>
		<label for="nombres">Nombres: </label>
		<input type="text" id="nombres" name="nombres" value="{{ calificacion[1] }}">
		<br>
		<label for="apellidos">Apellidos: </label>
		<input type="text" id="apellidos" name="apellidos" value="{{ calificacion[2] }}">
		<br>
        <label for="grado">Grado: </label>
		<input type="text" id="grado" name="grado" value="{{ calificacion[3] }}">
		<br>
        <label for="seccion">Seccion: </label>
		<input type="text" id="seccion" name="seccion" value="{{ calificacion[4] }}">
		<br>
        <label for="curso1">Curso 1: </label>
		<input type="text" id="curso1" name="curso1" value="{{ calificacion[5] }}">
		<br>
        <label for="curso2">Curso 2: </label>
		<input type="text" id="curso2" name="curso2" value="{{ calificacion[6] }}">
		<br>
        <label for="curso3">Curso 3: </label>
		<input type="text" id="curso3" name="curso3" value="{{ calificacion[7] }}">
		<br>
        <label for="curso4">Curso 4: </label>
		<input type="text" id="curso4" name="curso4" value="{{ calificacion[8] }}">
		<br>
        <label for="curso5">Curso 5: </label>
		<input type="text" id="curso5" name="curso5" value="{{ calificacion[9] }}">
		<br>
        <label for="curso6">Curso 6: </label>
		<input type="text" id="curso6" name="curso6" value="{{ calificacion[10] }}">
		<br>
        <label for="curso7">Curso 7: </label>
		<input type="text" id="curso7" name="curso7" value="{{ calificacion[11] }}">
		<br>
        <label for="curso8">Curso 8: </label>
		<input type="text" id="curso8" name="curso8" value="{{ calificacion[12] }}">
		<br>
        <label for="curso9">Curso 9: </label>
		<input type="text" id="curso9" name="curso9" value="{{ calificacion[13] }}">
		<br>
        <label for="curso10">Curso 10: </label>
		<input type="text" id="curso10" name="curso10" value="{{ calificacion[14] }}">
		<br>
        <label for="promedio">Promedio: </label>
		<input type="text" id="promedio" name="promedio" value="{{ calificacion[15] }}">
		<br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Guardar</button>
	</form>
</body>
</html>