<!DOCTYPE html>
<html>
<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/crear/crearUser.css') }}">
</head>
<body>
    <a href="/inicioadmin" style="font-size: 16px;margin-top: -600px; margin-right: 50px;">&#x2190 Regresar</a>
    <h2>Usuario a Crear</h2>
    <br>
  <div class="container">
    <button class="cssbuttons-io" onclick="window.location.href='/crearEstudiante'">
      <span>
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path fill="currentColor" d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"></path>
        Estudiante
      </span>
    </button>
    <button class="cssbuttons-io" onclick="window.location.href='/crearTrabajador'">
      <span>
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path fill="currentColor" d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"></path>
        Trabajador
      </span>
    </button>
  </div>
</body>
</html>