<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/crear/cursos.css') }}">
  </head>
  <body>
      {% extends './base.html' %}

      {% block title %}Añadir Curso{% endblock %}
      {% block body %}
      <form class="login-form" action="/cursos2" method="POST">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <h1>Añadir curso</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="id_curso" name="id_curso" placeholder="ID Curso" required>
          <label for="id_curso">ID Curso</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="curso" name="curso" placeholder="Curso" required>
          <label for="curso">Curso</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="maestro" name="maestro" placeholder="DPI Maestro" required>
          <label for="maestro">DPI Maestro</label>
        </div>
        <div class="form-floating">
            <input type="time" class="form-control" name="hora_inicio" placeholder="Hora de Inicio" required>
            <label for="hora_inicio">Hora de Inicio</label>
        </div>
        <div class="form-floating">
          <input type="time" class="form-control" name="hora_fin" placeholder="Hora del Final" required>
          <label for="hora_fin">Hora del Final</label>
        </div>
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Añadir curso</button>
        <button class="w-100 btn btn-lg btn-primary mt-3" onclick="window.location.href='/cursos3'">Ver Cursos</button>

      </form>
      {% endblock %}
            <label for="id_curso">ID Curso:</label>
            <input type="text" id="id_curso" name="id_curso" required>
            <label for="curso">Curso:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="maestro">Maestro:</label>
            <input type="text" id="maestro" name="maestro" required>
            <label for="hora_inicio">Hora de Inicio:</label>
            <input type="time" id="hora_inicio" name="hora_inicio" required>
            <label for="horaFinal">Hora del final:</label>
            <input type="time" id="hora_fin" name="hora_fin" required>
            <button type="submit">Añadir usuario</button>
      </form>
    </body>
  </html>