<!DOCTYPE html>
<html>
<head>
	<title>Editar Maestro</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/editar/editar_maestro.css') }}">
</head>
<body>
	<h1>Editar Maestro</h1>
	<form action="/maestros2/{{ maestro[0] }}/edit" method="POST">
		<label for="dpi">DPI:</label>
		<input type="text" id="dpi" name="dpi" value="{{ maestro[0] }}" readonly>
		<br>
		<label for="curso_1">Curso 1:</label>
		<input type="text" id="curso_1" name="curso_1" value="{{ maestro[1] }}">
		<br>
		<label for="curso_2">Curso 2:</label>
		<input type="text" id="curso_2" name="curso_2" value="{{ maestro[2] }}">
		<br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Guardar</button>
	</form>
</body>
</html>