<!DOCTYPE html>
<html>
<head>
	<title>Editar Curso</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/editar/editar_curso.css') }}">
</head>
<body>
	<h1>Editar Curso</h1>
	<form action="/cursos2/{{ cur[0] }}/edit" method="POST">
		<label for="id_curso">ID Curso:</label>
		<input type="text" id="id_curso" name="id_curso" value="{{ cur[0] }}" readonly>
		<br>
		<label for="curso">Curso:</label>
		<input type="text" id="curso" name="curso" value="{{ cur[1] }}">
		<br>
		<label for="maestro">Maestro:</label>
		<input type="text" id="maestro" name="maestro" value="{{ cur[2] }}">
		<br>
		<label for="hora_inicio">Hora de Inicio:</label>
		<input type="text" id="hora_inicio" name="hora_inicio" value="{{ cur[3] }}">
		<br>
		<label for="hora_fin">Hora de Final:</label>
		<input type="text" id="hora_fin" name="hora_fin" value="{{ cur[4] }}">
		<br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Guardar</button>
	</form>
</body>
</html>