<!DOCTYPE html>
<html>
<head>
	<title>Confirmar eliminación</title>
	<style>
		.confirmation {
			margin: 20px;
		}
	</style>
</head>
<body>
	<h1>Confirmar eliminación</h1>
	<div class="confirmation">
		<p>¿Estás seguro de que deseas eliminar este curso?</p>
		<form action="/grados2/{{ id_grado }}/delete" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Eliminar</button>
		</form>
	</div>
</body>
</html>