<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/crear/estudiantes.css') }}">
  </head>
  <body>
    <a href="/inicioadmin" style="font-size: 16px;margin-top: -600px; margin-right: 50px;">&#x2190 Regresar</a>

      {% extends './base.html' %}

      {% block title %}Añadir Estudiantes{% endblock %}
      {% block body %}
      <form class="login-form" action="/estudiantes2" method="POST">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <h1>Añadir Estudiantes</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="id_estudiante" name="id_estudiante" placeholder="ID Estudiante" required>
          <label for="id_estudiante">ID Estudiante</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" required>
          <label for="nombres">Nombres</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" required>
          <label for="apellidos">Apellidos</label>
        </div>
        <div class="form-floating">
          <input type="date" class="form-control" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" required>
          <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        </div>
        <div class="form-floating">
          <input type="number" class="form-control" name="edad" placeholder="Edad">
          <label for="edad">Edad</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" name="grado" placeholder="Grado" required>
          <label for="Grado">Grado</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="seccion" name="seccion" placeholder="Seccion" required>
          <label for="seccion">Seccion</label>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Añadir Estudiante</button>
        <button class="w-100 btn btn-lg btn-primary mt-3" onclick="window.location.href='/estudiantes3'">Ver Estudiantes</button>

      </form>
      {% endblock %}
            <label for="id_estudiante">ID Estudiantes:</label>
            <input type="text" id="id_estudiante" name="id_estudiante" required>
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" required>
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad">
            <label for="grado">Grado:</label>
            <input type="number" id="grado" name="grado" required>
            <label for="seccion">Seccion:</label>
            <input type="text" id="seccion" name="seccion" required>
      </form>
    </body>
  </html>