<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/crear/grados.css') }}">
  </head>
  <body>
      {% extends './base.html' %}

      {% block title %}Añadir Grado{% endblock %}
      {% block body %}
      <form class="login-form" action="/grados2" method="POST">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <h1>Añadir Grado</h1>
        <div class="form-floating">
          <input type="number" class="form-control" id="id_grado" name="id_grado" placeholder="ID Grado" required>
          <label for="id_grado">ID Grado</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" name="grado" placeholder="grado" required>
            <label for="grado">Grado</label>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Añadir maestro</button>
        <button class="w-100 btn btn-lg btn-primary mt-3" onclick="window.location.href='/grados3'">Ver Grados</button>

      </form>
      {% endblock %}
            <label for="id_grado">ID Grado:</label>
            <input type="number" id="id_grado" name="id_grado" required>
            <label for="grado">Grado:</label>
            <input type="text" id="grado" name="grado" required>
            <button type="submit">Añadir Grado</button>
      </form>
    </body>
  </html>