<!DOCTYPE html>
<html>
<head>
	<title>Grados</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/ver/grados3.css') }}">
	<script src="{{ url_for('static', filename='js/admin/grados3.js') }}"></script>
</head>
</head>
<body>
	<a href="/inicioadmin" class="home-button">&#x2190 Regresar</a>
	<br>
	<h1>Grados</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Grado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>
						<button class="edit-button" onclick="editar_grado('{{ row[0] }}')">✏️</button>
						<button class="delete-button" onclick="eliminar_grado('{{ row[0] }}')">&#x1F5D1;&#xFE0F;</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
