<!DOCTYPE html>
<html>
<head>
	<title>Maestros</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/ver/maestros3.css') }}">
	<script src="{{ url_for('static', filename='js/admin/maestros3.js') }}"></script>
</head>
</head>
<body>
	<a href="/inicioadmin" style="font-size: 16px;margin-left: 5px;margin-bottom: 50px;">&#x2190 Regresar</a>
	<h1>Maestros</h1>
	<table>
		<thead>
			<tr>
				<th><span>ID</span></th>
				<th><span>Maestro</span></th>
				<th><span>Acciones</span></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>
						<button class="delete-button" onclick="eliminar_maestro('{{ row[0] }}')">Eliminar</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<button class="download-button" onclick="descargarCSV()">Descargar CSV</button>
</body>
</html>
