<!DOCTYPE html>
<html>
<head>
	<title>Estudiantes</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/ver/pagoC.css') }}">
	<script src="{{ url_for('static', filename='js/admin/pagoC.js') }}"></script>
</head>
</head>
<body>
	<h1>Estudiantes</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Fecha Nacimiento</th>
				<th>Edad</th>
				<th>Grado</th>
				<th>Seccion</th>
				<th>curso1</th>
				<th>curso2</th>
				<th>curso3</th>
				<th>curso4</th>
				<th>curso5</th>
				<th>curso6</th>
				<th>curso7</th>
				<th>curso8</th>
				<th>curso9</th>
				<th>curso10</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr id="fila-{{ loop.index }}" class="{% if row[17] == 'pagado' %}pagado{% endif %}">
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>{{ row[2] }}</td>
					<td>{{ row[3] }}</td>
					<td>{{ row[4] }}</td>
					<td>{{ row[5] }}</td>
					<td>{{ row[6] }}</td>
					<td>{{ row[7] }}</td>
					<td>{{ row[8] }}</td>
					<td>{{ row[9] }}</td>
					<td>{{ row[10] }}</td>
					<td>{{ row[11] }}</td>
					<td>{{ row[12] }}</td>
					<td>{{ row[13] }}</td>
					<td>{{ row[14] }}</td>
					<td>{{ row[15] }}</td>
					<td>{{ row[16] }}</td>
					<td>
						<button class="pago-realizado" onclick="pagoRealizado(this)">Pagado</button>
						<button class="pago-pendiente" onclick="pagoPendiente(this)">Pendiente</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>


