<!DOCTYPE html>
<html>
<head>
	<title>Salones</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/ver/salones3.css') }}">
	<script src="{{ url_for('static', filename='js/admin/salones3.js') }}"></script>
</head>
<body>
	<h1>Salones</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Salones</th>
				<th>Aforo</th>
				<th>DPI Maestros</th>
				<th>Grados</th>
                <th>Secciones</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>{{ row[2] }}</td>
					<td>{{ row[3] }}</td>
					<td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
					<td>
						<button class="edit-button" onclick="editar_salon('{{ row[0] }}')">Editar</button>
						<button class="delete-button" onclick="eliminar_salon('{{ row[0] }}')">Eliminar</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
