<!DOCTYPE html>
<html>
<head>
	<title>Trabajadores</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/ver/trabajadores3.css') }}">
	<script src="{{ url_for('static', filename='js/admin/trabajadores3.js') }}"></script>
</head>
<body>
	<h1>Trabajadores</h1>
	<table>
		<thead>
			<tr>
				<th><span>ID</span></th>
				<th><span>Nombres</span></th>
				<th><span>Apellidos</span></th>
				<th><span>Cargo</span></th>
				<th><span>Salario</span></th>
                <th><span>Método de Pago</span></th>
                <th><span>Bonus</span></th>
				<th><span>Fecha de Contratacion</span></th>
				<th><span>Fecha de Pago</span></th>
				<th><span>Acciones</span></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>{{ row[2] }}</td>
					<td>{{ row[3] }}</td>
					<td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
					<td>{{ row[7] }}</td>
					<td>{{ row[8] }}</td>
					<td>
						<button class="edit-button" onclick="editWorker('{{ row[0] }}')">Editar</button>
						<button class="delete-button" onclick="deleteWorker('{{ row[0] }}')">Eliminar</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
