<!DOCTYPE html>
<html>
<head>
	<title>Grados</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/ver/secciones3.css') }}">
	<script src="{{ url_for('static', filename='js/admin/secciones3.js') }}"></script>
</head>
<body>
	<h1>Grados</h1>
	<table>
		<thead>
			<tr>
				<th>ID Seccion</th>
				<th>ID Grado</th>
                <th>Seccion</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
					<td>
						<button class="edit-button" onclick="editar_seccion('{{ row[0] }}')">Editar</button>
						<button class="delete-button" onclick="eliminar_seccion('{{ row[0] }}')">Eliminar</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
