.login-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto; /* Centro horizontalmente */
  top: 50%;
  margin-top: 100px;
  left: 50%;
}

.agregar{
  padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
  background-color: #4edd52; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Radio de las esquinas para hacerlo redondeado */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Puedes ajustar el peso de la fuente según tus preferencias */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* O ajusta la altura según tus necesidades */
  margin: 3px;
  display: block;
  width: 100%;
}

.agregar:hover {
  background-color: rgb(29, 188, 23); /* Color de fondo al pasar el mouse */
}

.ver{
  padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
  display: block;
  background-color: #0092ff; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Radio de las esquinas para hacerlo redondeado */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Puedes ajustar el peso de la fuente según tus preferencias */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* O ajusta la altura según tus necesidades */
  margin: 3px;
  width: 100%;
}

.ver:hover {
  background-color: #0077cc; /* Color de fondo al pasar el mouse */
}

.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input[type=text], .login-form input[type=password], .login-form input[type=number], .login-form input[type=date], .login-form select, .login-form select{
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
/* Estilo para el campo desplegable */
.custom-select {
  position: relative;
  font-family: Arial, sans-serif;
}

.custom-select select {
  display: none; /* Oculta el select original */
}

/* Estilo para la caja que simula el select personalizado */
.custom-select .select-box {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

/* Flecha desplegable */
.custom-select .select-box::after {
  content: "\25BC"; /* Código de la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Estilo para las opciones del select */
.custom-select .options {
  display: none; /* Oculta las opciones por defecto */
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para cada opción */
.custom-select .options div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambia el fondo al pasar el mouse sobre las opciones */
.custom-select .options div:hover {
  background-color: #f4f4f4;
}