      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .login-form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        padding: 20px;
        max-width: 400px;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }

      .login-form h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      .login-form input[type=text], .login-form input[type=password], .login-form input[type=number], .login-form input[type=date], .login-form select, .login-form select{
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      }

    .login-form button[type=submit] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

/* Estilo para el campo desplegable */
.custom-select {
  position: relative;
  font-family: Arial, sans-serif;
}

.custom-select select {
  display: none; /* Oculta el select original */
}

/* Estilo para la caja que simula el select personalizado */
.custom-select .select-box {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

/* Flecha desplegable */
.custom-select .select-box::after {
  content: "\25BC"; /* Código de la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Estilo para las opciones del select */
.custom-select .options {
  display: none; /* Oculta las opciones por defecto */
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para cada opción */
.custom-select .options div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambia el fondo al pasar el mouse sobre las opciones */
.custom-select .options div:hover {
  background-color: #f4f4f4;
}

