<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/inicioadmin.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {% block body %}
    <div class="menu-wrapper" action="/inicioestudiante" method="GET">
        <div class="sidebar-header">
            <div class="sideBar">
                <h1 style="text-align: center;">Menu</h1>
                <ul>
                    <li><a href="/circularesE"><i class="fas fa-file"></i><label>Circulares</label></a></li>
                    <li><a href="/formcalificacionesE"><i class="fas fa-graduation-cap"></i><label>Calificaciones</label></a></li>
                    <br><a class="logout" href="{{ url_for('logoutt') }}">Logout</a>
                </ul> <span class="cross-icon"><i class="fas fa-times"></i></span>
                <br>

            </div>
            <div class="backdrop"></div>
            <div class="content">
                <header>
                    <h3 style="color: #0092ff;">{{ current_user.enombre }} </h3>
                </header>
                <div class="content-data"> </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}