<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/crear/formsalarios.css') }}">
  </head>
  <body>
    <a href="/inicioestudiante" style="font-size: 16px;margin-top: -600px; margin-right: 50px;">&#x2190 Regresar</a>

      {% extends './base.html' %}

      {% block title %}Ver Calificaciones{% endblock %}
      {% block body %}
      <form class="login-form" action="/formcalificacionesE" method="POST">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <h1>Ver Calificaciones</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="id_estudiante" name="id_estudiante" placeholder="id_estudiante" required>
          <label for="id_estudiante">ID</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="contrasena" name="contrasena" placeholder="contrasena" required>
          <label for="contrasena">Contraseña del estudiante</label>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-3" onclick="window.location.href='/calificacionesE'">Ver Calificaciones</button>

      </form>
      {% endblock %}
            <label for="id_estudiante">ID:</label>
            <input type="text" id="id_estudiante" name="id_estudiante" required>
            <label for="contrasena">Contraseña del estudiante:</label>
            <input type="text" id="contrasena" name="contrasena" required>
            <button type="submit">Ver Calificaciones</button>
      </form>
    </body>
  </html>