body {
	margin: 15px;
	padding: 0;
	font-family: Arial, sans-serif;
}

table {
	border-collapse: collapse;
	border: #000;
	width: 100%;
}

th, td {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #4285F4;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px;
	text-align: center;
}

.tabla tr:nth-child(even) {
	background-color: #f9f9f9;
}
		
/* Estilo para el texto del encabezado */
.tabla th span {
	font-weight: bold;
}

.edit-button {
	padding: 4px 8px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}

.delete-button {
	padding: 4px 8px;
	background-color: #f44336;
	color: white;
	border: none;
	cursor: pointer;
}

table tr:nth-child(even) {
	background-color: #f9f9f9;
}
    
/* Estilo para el texto del encabezado */
table th span {
    font-weight: bold;
}

.download-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #4285F4; /* Color de fondo del botón */
	color: #fff; /* Color del texto */
	border: none;
	border-radius: 5px; /* Bordes redondeados */
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease; /* Transición de color de fondo */
  }
  
  /* Estilo al pasar el cursor por encima del botón */
.download-button:hover {
	background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
  }
  
  /* Estilo al hacer clic en el botón */
.download-button:active {
	background-color: #004292; /* Cambia el color de fondo al hacer clic */
  }